# Dependencias diretas. As versoes abaixo sao as usadas nos experimentos
# do artigo; versoes proximas devem funcionar.
#
# Instale o torch conforme a sua CUDA: https://pytorch.org/get-started/locally/

torch==2.5.1
torchvision==0.20.1

numpy
pandas
scikit-learn
scipy
matplotlib
pillow

# iBOT do exp03 (ViT-S/16 supervisionado)
timm

# VMamba: carrega os pesos e a implementacao em src/backbones/vmamba_hf/
safetensors
transformers
